.form {
  padding: 1.25rem;
  color: #000;

  &__inner {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  &__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__label {
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 0.625rem;
    position: relative;

    &::before {
      content: '*';
      position: absolute;
      top: 0;
      left: 0;
      color: red;
    }
  }

  &__input {
    min-width: 95%;
    height: 1.5rem;
    padding: 0.313rem;
    margin-bottom: 0.6rem;
    border: 1px solid #d8d8d8;
    color: #9a9898;
    display: block;
  }

  &__bigger {
    height: 2.188rem;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: end;
    position: relative;

    &::before {
      content: '';
      top: -1.25rem;
      right: -1.25rem;
      position: absolute;
      width: 36.8rem;
      border: 1px solid #d8d8d8;
    }
  }
}
