.main {
  padding-left: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;

  &__forecast {
    flex: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;

    &__title {
      display: flex;
      gap: 0.4rem;
      margin: 0 0 2rem 1.3rem;
      font-size: 1.3rem;
      font-weight: 300;

      &_bold {
        font-weight: bold;
        margin: 0;
      }
    }
  }

  &__aside {
    flex: 30%;
  }

  &__searchbox {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.063rem 0.313rem 2.25rem 0.313rem;
  }
}

.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 1200px) {
  .main {
    flex-direction: column-reverse;

    &__forecast {
      align-items: start;
      justify-content: center;
    }
  }
}

@media all and (max-width: 900px) {
  .main {
    &__forecast {
      align-items: center;
    }
  }
}

@media all and (max-width: 500px) {
  .main {
    &__forecast {
      align-items: center;
    }

    &__searchbox {
      flex-direction: column;
      gap: 3rem;
    }
  }
}

@media all and (max-height: 700px) {
  .main {
    &__forecast {
      &__title {
        display: none;
      }
    }
  }
}
