.searchbar {
  margin: 0 1rem;
  color: #000;

  &__form {
    width: 13rem;
    display: flex;
    padding: 1rem 1.188rem;
    background-color: #f3f4f8;
    border: 1px solid #f3f4f8;
    border-radius: 0.5rem;
  }

  &__input {
    width: 95%;
    height: 1.2rem;
    letter-spacing: inherit;
    border: 0px;
    background: none;
    margin: 0px;
    font-size: 1rem;
    font-weight: 400;

    &:active {
      outline: 0;
      outline-offset: 0;
    }

    &:hover {
      outline: 0;
      outline-offset: 0;
    }

    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0 0.75rem 0 0;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
  }

  @media (max-width: 900px) {
    &__form {
      width: 39rem;
    }
  }

  @media (max-width: 800px) {
    &__form {
      width: 17.5rem;
    }
  }
}
