:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  background-color: #fff;
  color: #000;
}

@media all and (max-width: 1450px) {
  html {
    font-size: 15px;
  }
}

@media all and (max-width: 1350px) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 1250px) {
  html {
    font-size: 13px;
  }
}

@media all and (max-width: 1160px) {
  html {
    font-size: 12px;
  }
}

@media all and (max-width: 1075px) {
  html {
    font-size: 11px;
  }
}

@media all and (max-width: 1000px) {
  html {
    font-size: 10px;
  }
}
